body {
  min-height: 150vh;
  position: relative;
  margin: 0;
}

#index-body{
  min-height: 100vh;
}

#concert-body{
  min-height: 180vh;
}

#index-body h1 {
  font-size: 3em;
}

#cause-footer-p{
  padding-right: 24px;
}

#croc-img {
  width: 80%;
}

#concert-footer-p{
  padding-right: 24px;
}

#paragraph-row{
  margin-top: 20px;
}

.paragraph-div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#index-body h4 {
  margin-bottom: 20px;
}

#cause-row{
  margin-bottom: 20px;
}


.left-menu{
  display: flex;
  flex-direction: row;
}

.jumbotron.header{
  padding-top: 20px;
  width: 100%;
  vertical-align: middle;
}

.right-menu{
  display: flex;
  flex-direction: row;
}

.inverted .menu{
  justify-content: space-between;
}

.inverted .segment{
  background-color: #87CEEB !important;
}

.empty-menu{
  width: 50%;
}

a {
  color: white;
}

ul {
  padding-inline-start: 20px;

}

.jumbotron{
  background-color: #D1CFE2;
  border-radius: 14px;
  /* border: 3px solid rgba(13, 19, 23, .4); */
  border: 3px solid rgba(65, 82, 105, .4);
  padding: 2rem 1rem;
  height: 90%;
  vertical-align: middle;
}

.margin-bottom{
  margin-bottom: 10px;
}

.bg-primary {
  color: #87CEEB !important;
}

footer{
 /* background-color: #214069; */
 /* background-color: #042A2B; */
 position: absolute;
 bottom: 0;
 width: 100%;
 background-color: #171D1C;
 bottom: 0;
}

footer .row {
  text-align: center;
}

footer p {
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #4A8FE7; */
  background-color: #87CEEB;
  max-height: 90px;
  border: 1px solid rgba(65, 82, 105, .4);
  box-sizing: content-box;
}

.row {
  /* border: 1px solid rgba(65, 82, 105, 1); */
}

.navbar-brand {
  display: inline-block;
  max-height: 80px;
  padding: 0px;
}

.navbar-brand img {
  top: 0px;
  max-height: 80px;
  display: inline-block;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row!important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-link {
  vertical-align: middle;
}

.container-fluid {
  /* background-color: #6D9DC5; */
  /* height: 73vh; */
  background-color: #FCFCFC;
}

.col-6 {
  text-align: center;
}

.col-6 img {
  border-radius: 8px;
  /* border: 3px solid rgba(13, 19, 23, .4); */
  border: 3px solid rgba(65, 82, 105, .4);
  max-height: 80%;
  vertical-align: middle;
  margin-top: 20px;
}

.mojFooter p {
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.nav-div{
  display: flex;
}


h1 {
  color: #31393C
}

h2 {
  color: #31393C
}

h3 {
  color: #31393C
}

h4 {
  color: #31393C
}

h5 {
  color: #31393C
}

@media only screen and (min-width: 576px) {
.jumbotron {
    /* margin-top: 2rem; */
    padding: 0.5rem 0.5rem;
  }
}
