a {
  color: white;
}

ul {
  padding-inline-start: 20px;
  height: 90%;
}

.bg-primary {
  color: #4A8FE7 !important
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  background-color: #4A8FE7;
  min-height: 80px;
}

.navbar-brand {
  display: inline-block;
  height: 110px;
  padding: 0px;
}

.navbar-brand img {
  top: 0px;
  max-height: 120px;
  display: inline-block;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row!important;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.container-fluid {
  background-color: #6D9DC5
}

h1 {
  color: #EAF6FF
}

h2 {
  color: #EAF6FF
}

h3 {
  color: #EAF6FF
}
